<div class="jumbotron text-center">
    <h1>The Home Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>   

    <a ui-sref=".list" class="btn btn-primary">List</a>
    <a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a> 
    <button ng-click="authenticate('facebook')">Sign in with Facebook</button>
</div>


<div ui-view></div>